<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
     
    # Remover trailing slashes.
    # ejemplo  miweb.com/algo/ redirije a miweb.com/algo
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ /$1 [R=permanent,QSA]
     
    # Redirige a HTML si existe.
    # ejemplo  miweb.com/algo muestra contenido de miweb.com/algo.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.+)$ $1.html [L,QSA]
     
    # Redirije a PHP si existe.
    # ejemplo  miweb.com/algo miestra contenido de miweb.com/algo.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.+)$ $1.php [L,QSA]

</IfModule>